body {
  background-color: var(--bg-1);
  color: var(--color-1);
  font-family: "Inter", sans-serif;
  &.switch {
    transition: all ease-in-out 1s;
  }
  #root {
    width: 375px;
    margin: 0 auto;
    .cw {
      width: 326px;
      margin: 0 auto;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @include mY(0);
}

/**
* ? DeskTop
*/
@media (min-width: 1440px) {
  body {
    #root {
      width: 1440px;
      .cw {
        width: 1110px;
      }
    }
  }
}
